SERVER_PORT=8080

AUTH_SERVICE_URL=http://localhost:8081
USER_SERVICE_URL=http://localhost:8082
MERCHANT_SERVICE_URL=http://localhost:8083
LEDGER_SERVICE_URL=http://localhost:8084
REPORT_SERVICE_URL=http://localhost:8085
