SERVER_PORT=8081
JWT_SECRET=dev-secret-change-me
ADMIN_EMAIL=admin@paylater.com
ADMIN_PASSWORD=admin123

USER_SERVICE_URL=http://localhost:8082
MERCHANT_SERVICE_URL=http://localhost:8083
INTERNAL_API_TOKEN=paylater-internal-secret
